body {
  font-family: "Ubuntu", sans-serif;
  line-height: 2;
}

#submit {
  width: 200px;
}

table {
  border-collapse: collapse;
  width: 98%;
  margin: auto;
}

scheduletable {
  padding: 10px;
}
table,
th,
td {
  border-bottom: 1px solid black;
  padding: 3px;
  text-align: center;
}

#timewrap {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
}

#hour,
#mins {
  border: none;
  width: 40px;
  text-align: center;
}

#errormessage,
#fieldcheck {
  font-size: 14px;
  color: red;
}
